tools/
**/.venv/
**/site-packages/
*.zip
*.jar
*.exe
*.dll
.dart_tool/
**/.dart_tool/
build/
**/build/
**/.pub-cache/
**/__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
*.iml
library/python/.venv/
python/filter/mood_engine/data/*.db-shm
python/filter/mood_engine/data/*.db-wal
.gradle/
**/.gradle/
null
